{% extends 'base.html.twig' %}

{% block title %}Concerts! Admin
{% endblock %}

{% block body %}

    {# Navbar page admin #}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E3674E;">
        <a class="navbar-brand" href="{{path('concerts')}}">
            <img src="{{ asset('docs/assets/concert.png') }}" width="50" height="50" class="d-none d-sm-inline pr-1" />
            Concerts !</a>
        <div class="brand-subtitle">Le site qui part en live!</div>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{path('concerts')}}">Recherche<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('admin')}}">Admin</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <div class="row justify-content-center">
            <h1>Administration
                <div class="navbar-brand">Concerts!</div>
            </h1>
        </div>
        <div class="row justify-content-center">
            <h2 class="subtitle">Le site qui part en live!</h2>
        </div>
    </div>
{% endblock %}