{% extends 'base.html.twig' %}

{% block title %}Concerts! Recherche
{% endblock %}


{# Partie "dynamique" de la navbar, permettant d'afficher l'onglet actif #}
{% block navbar %}

    <li class="nav-item active">
        <a class="nav-link" href="{{path('concerts')}}">Recherche<span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{path('concert_admin_show')}}">Admin</a>
    </li>

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <h1>Bienvenue sur
                <div class="navbar-brand">Concerts!</div>
            </h1>
        </div>
        <div class="row justify-content-center">
            <h2 class="subtitle">Le site qui part en live!</h2>
        </div>
    </div>

{% endblock %}
